
/*
* TYPOGRAPHY
*/
body{
	font-family: helvetica;
	color: #372B30;
}
/*
* DESIGN
*/
.tight{
	margin-top: 0px;
	margin-bottom: 0px;
}
/*
* HEADER
*/
header{
	width: 80%;
	margin: auto;
	height: 10%;
	color: #DE979F;
}
header h1{
	font-weight: bolder;
	margin-bottom: 0px;
}
#timestring{
	margin-top: 0px;
	color: #000000;
	font-size: 50%;
}
/*
* CONTENT
*/

#content{
	background-color: #FFFFFF;
	width: 80%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 5%;
}

#link{
	margin-top: 30px;
}

/*
* FOOTER
*/

footer{
	width: 80%;
	margin: auto;
	color: #775D67;
}
footer p{
	font-size: 75%;
	font-style: italic;
}